[Unit]
Description=Knock Daemon
After=tlp-init.service

[Service]
Type=forking
RemainAfterExit=no
ExecStart=/usr/share/python/knockdaemon/bin/python /usr/share/python/knockdaemon/bin/knockdaemon -pidfile=/var/run/knockdaemon.pid -stderr=/var/log/knockdaemon.err -stdout=/dev/null -logfile=/var/log/knockdaemon.log -loglevel=INFO -maxopenfiles=4096 -user=root -c=/etc/knock/knockdaemon/knockdaemon.ini start
ExecStop=/usr/share/python/knockdaemon/bin/python /usr/share/python/knockdaemon/bin/knockdaemon -pidfile=/var/run/knockdaemon.pid -stderr=/var/log/knockdaemon.err -stdout=/dev/null -logfile=/var/log/knockdaemon.log -loglevel=INFO -maxopenfiles=4096 -user=root -c=/etc/knock/knockdaemon/knockdaemon.ini stop
Restart=True

[Install]
WantedBy=multi-user.target
