include *.txt
include *.sql
include *.xml
include *.conf
include *.initd
include *.service

recursive-include knockdaemon2 *.txt
recursive-include knockdaemon2 *.sql
recursive-include knockdaemon2 *.xml
recursive-include knockdaemon2 *.conf
recursive-include knockdaemon2 *.initd
recursive-include knockdaemon2 *.service