# pip / setup
pip
setuptools

# pysol
pysolbase>=3.0.0
pysolcache>=3.0.0
pysoldaemon>=3.0.0
pysolmysql>=3.0.0
pysolhttpclient>=3.0.0
pysolmeters>=3.0.0
pysoltcp>=3.0.0

gevent
geventhttpclient
greenlet

distro

# crypt
pycrypto

# socks
PySocks

# json
ujson

# backends
redis
pymongo
influxdb

# tools
psutil
dnspython
ntplib
argparse
PyYAML
urllib3
jinja2
pytz

mdstat

# services check
# aptitude install libdbus-1-dev libglib2.0-dev
dbus-python