# Private Pip Url
# --extra-index-url https://pypi.knock.center/knock/dev/+simple/

# pip / setup
pip
setuptools

# pysol
pysolbase
pysolcache
pysoldaemon
pysolmysql
pysolhttpclient
pysolmeters
pysoltcp

# gevent
gevent
geventhttpclient
greenlet

# crypt
pycrypto

# socks
PySocks

# json
ujson

# backends
redis
pymongo
influxdb
pymemcache

# tools
psutil
dnspython
ntplib
argparse
PyYAML
urllib3
jinja2
pytz

# ======================
# Windows
# ======================
pypiwin32
WMI

# ======================
# EXTERNAL STUFF
# ======================
# REDIS
# https://github-cloud.s3.amazonaws.com/releases/3402186/bb1d10fc-3fac-11e6-8dc7-a51af1d6f36f.msi
#
# SQUID (and check squid_windows.conf, create dirs, set dns in config and recycle service, and check using command lines)
# http://packages.diladele.com/squid/3.5.24/squid.msi

# ======================
# PACKAGING (pyinstaller)
#
# venv ON
# c:\Users\champax\k.daemon\Scripts\activate
#
# cd c:\champax\_devs\knockdaemon2\windows\pyinstaller
# pyinstaller -F ..\..\knockdaemon2\Windows\knockdaemon2\knockdaemon2.py
# C:\champax\_devs\knockdaemon2\windows\pyinstaller\dist\knockdaemon2.exe
#
# AS ROOT (DO NOT FORGET THE .EXE otherwise you got "Ex=e.cls:[IndexError]" in win32 utils
# cd c:\champax\_devs\knockdaemon2\windows\pyinstaller\dist
# knockdaemon2.exe install
# knockdaemon2.exe remove
# ======================
pyinstaller

# ======================
# PALEOLITIC VENV DOC, CMD.EXE
# ======================
# C:\Users\champax>c:\Users\champax\k.daemon\Scripts\activate
# (k.daemon) C:\Users\champax>
# (k.daemon) C:\Users\champax>cd c:\champax\_devs\knockdaemon2
# (k.daemon) c:\champax\_devs\knockdaemon2>
# (k.daemon) c:\champax\_devs\knockdaemon2> pip install -r requirements_win.txt

# ======================
# MISC
# ======================
# REDIS ON WINDOWS
# https://github.com/MSOpenTech/redis/releases/download/win-3.2.100/Redis-x64-3.2.100.msi
#
# ACTIVATE
# c:\Users\champax\k.daemon\Scripts\activate
#
# DEACTIVATE
# c:\Users\champax\k.daemon\Scripts\deactivate
#
# CODE
# cd c:\champax\_devs\knockdaemon2
#
# DAEMON (AS ROOT)
# SET PYTHONPATH=c:\champax\_devs\knockdaemon2
# python knockdaemon2\Windows\knockdaemon2\knockdaemon2.py install
# python knockdaemon2\Windows\knockdaemon2\knockdaemon2.py remove
#
# SERVICE CONTROL
# knockdaemon2.exe install
# knockdaemon2.exe remove
# knockdaemon2.exe debug
#
# START / STOP
# net start knockdaemon2
# net stop knockdaemon2
# net restart knockdaemon2




