# pip / setup
pip
setuptools

# pysol
pysolbase
pysolcache
pysoldaemon
pysolmysql
pysolhttpclient
pysolmeters
pysoltcp

# Got SIGABRT with 25.4.1 in libev, locking : was due to assert stuff + DEBUG => all are removed
gevent
geventhttpclient
greenlet

distro

# crypt
pycryptodome

# socks
PySocks

# json
ujson

# backends
redis
pymongo
influxdb

# tools
psutil
dnspython
ntplib
PyYAML
urllib3
jinja2
pytz

mdstat

# services check
# aptitude install libdbus-1-dev libglib2.0-dev
dbus-python

pystemd
python-dateutil