# Private Pip Url
# --extra-index-url https://pypi.knock.center/knock/dev/+simple/

# pip / setup
pip
setuptools==42.0.2

# pysol
pysolbase >= 1.1.2
pysolcache
pysoldaemon
pysolmysql>=1.1.5
pysolhttpclient
pysolmeters
pysoltcp

# gevent
gevent==1.3.7
geventhttpclient
greenlet

# crypt
pycrypto

# socks
PySocks

# json
ujson

# backends
redis
pymongo
influxdb
pymemcache

# tools
psutil
dnspython
ntplib
argparse
PyYAML
urllib3
jinja2
pytz

mdstat
# services check
# aptitude install libdbus-1-dev libglib2.0-dev
dbus-python