Source: knockdaemon2
Section: python
Priority: extra
Maintainer: laurent Labatut <laurent@labatut.net>
Build-Depends: debhelper (>= 8), python3.7, dh-virtualenv, dh-systemd
Standards-Version: 3.9.5

Package: knockdaemon2
Architecture: i386 amd64 armhf
Depends: ${python:Depends}, ${misc:Depends}, python3.7, file, smartmontools, dmidecode
Description: supervision daemon
