#!/usr/bin/make -f

# Ignore some files
export DH_ALWAYS_EXCLUDE=PYC:.pyc

# Fix dh-virtualenv 1.0 install in /opt/venvs
export DH_VIRTUALENV_INSTALL_ROOT=/opt/knock/

# FIX Symlink in deb file
export DH_VIRTUALENV_ARGUMENTS="--no-site-packages -p /usr/bin/python3.7"

%:
	dh $@ --with python-virtualenv --preinstall pip --with=systemd

override_dh_virtualenv:
	dh_virtualenv --python='/usr/bin/python3.7'

override_dh_installinit:
	dh_installinit  --name=knockdaemon2 -- defaults 91 09
